# vi: ft=systemd
[Unit]
Description=DodgeTracker Backend Service
After=network.target

[Service]
User=isak102
ExecStart=/usr/bin/bash /home/isak102/Code/dodgetracker/scripts/run_backend.sh
Restart=always

[Install]
WantedBy=multi-user.target
